.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    position: relative;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}

.screen-header__icons__reddot {
    position: absolute;
    right: 18px;
    top: 26px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
    
}

.screen-header__icons .fa-gear:hover {
    animation: rotateCog 2s linear infinite;
}